h1 {
    color: darkgoldenrod;
}
.dollar{
    background: lightgray;
    text-align: left;
}
.button{
    border-radius:15%;
    transition: background .8s;
    background: lightyellow;
    width: 8%;
    height: 15%;
}
table, tr, td{
    border: 1px solid black;
    width: 40%;
    height: 40%;
}
.bill.error{
    border: 2px solid red;
}
.italic{
    font-style: italic;
}
.calculator{
    padding-left: 10%;
}